doctype html

head
	link(rel="stylesheet", href="css/styles.css", type="text/css")
	title jade

body

	.container
		header
			.nice
				.logo
			.nice
			.nice
			.nice
		.wrapper
			.box
				p1.welcome Welcome to my test 
				p1.welcome animations
			.box
				.circle
					.rotate
				.circle
